In [2]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        #WHEN BOTH NUMBERS ARE EVEN
        return = min(a,b)
    else:
        #WHEN ONE OR MORE NUMBERS ARE ODD
        return = max(a,b)

In [3]:
lesser_of_two_evens(2,8)

2

In [5]:
lesser_of_two_evens(3,5)

5

In [6]:
min(10,20)

10

In [7]:
max(10,20)

20

In [8]:
def animal_crackers(text):
    wordlist = text.split()
    print(wordlist)

In [11]:
def makes_twenty(n1,n2):
    
    return(n1+n2) == 20 or n1 == 20 or n2 == 20

In [12]:
makes_twenty(10,10)

True

In [13]:
def old_macdonald(name):
    
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name [4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [14]:
old_macdonald('macdonald')

'MacDonald'

In [15]:
def old_macdonald(name):
    
    first_half = name[:3]
    second_half = name [3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [16]:
old_macdonald('macdonald')

'MacDonald'

In [23]:
def master_yoda(text):
    wordlist = text.split()
    reverse_word_list = wordlist[::-1]
    return ' '.join(reverse_word_list)

In [25]:
master_yoda('I am home')

'home am I'

In [26]:
def paper_doll(text):
    result = ''
    
    for char in text:
        result += char*3
    return result

In [28]:
paper_doll('mississippi')

'mmmiiissssssiiissssssiiippppppiii'

In [61]:
def blackjack(a,b,c):
    
    
    if sum([a,b,c]) < 21:
        return sum([a,b,c])
    elif sum([a,b,c]) == 21:
        return '21!'
    
    
    elif 11 in [a,b,c] and sum([a,b,c])-10 <= 21:
        return sum([a,b,c])

    else:
        return 'BUST'

In [64]:
blackjack(1,1,10)

12

In [66]:
def summer_69(arr):
    
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [67]:
summer_69([2,1,6,9,11])

14

In [72]:
def spy_game(nums):
    
    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)
            
    return len(code) == 1

In [76]:
spy_game([1,2,4,0,0,7,5])

True

In [79]:
def count_primes(num):
    
    #Check for 0 or 1 input
    if num < 2:
        return 0
    ################
    # 2 or greater
    ################
    #Store the prime numbers
    primes = [2]
    #Counter going up to the input num
    x = 3
    #x is going through every number up to input num
    while x <= num:
        #check if x is prime
        for y in primes:
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [80]:
count_primes(120)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113]

30